# Data Clean Up

In [1]:
import sqlite3
import pandas as pd
import glob
import os
import ast
from tqdm.auto import tqdm
from geopy.geocoders import Nominatim
import time
import streamlit as st

/Users/tucker/Library/Python/3.9/lib/python/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
/Users/tucker/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

## Dataframes

In [2]:
folder_path = os.path.expanduser("~/DDataVizFinal/RawData")

# Function to load and label CSV in chunks
def load_and_label_chunks(file, chunksize=100_000):
    name = os.path.basename(file).lower()
    chunk_iter = pd.read_csv(file, chunksize=chunksize)
    for chunk in chunk_iter:
        if "steam" in name:
            chunk["platform"] = "steam"
        elif "ps" in name:
            chunk["platform"] = "ps"
        yield name, chunk

# Lists to collect DataFrame chunks
games_list = []
players_list = []
achievements_list = []
purchased_list = []
history_list = []

# Loop through CSV files and process in chunks
for file in tqdm(glob.glob(os.path.join(folder_path, "*.csv")), desc="Loading CSVs", mininterval=1.0):
    print(f"Loading: {file}")
    for name, chunk in load_and_label_chunks(file):
        if "games" in name and "purchased" not in name:
            games_list.append(chunk)
        elif "players" in name:
            players_list.append(chunk)
        elif "achievements" in name:
            achievements_list.append(chunk)
        elif "purchased" in name:
            purchased_list.append(chunk)
        elif "history" in name:
            history_list.append(chunk)

# Concatenate all chunks per category into full DataFrames
games_df = pd.concat(games_list, ignore_index=True)
players_df = pd.concat(players_list, ignore_index=True)
achievements_df = pd.concat(achievements_list, ignore_index=True)
purchased_df = pd.concat(purchased_list, ignore_index=True)
history_df = pd.concat(history_list, ignore_index=True)

# Optional: check shapes
# print("Games:", games_df.shape)
# print("Players:", players_df.shape)
# print("Achievements:", achievements_df.shape)
# print("Purchased:", purchased_df.shape)
# print("History:", history_df.shape)

Loading CSVs:   0%|          | 0/10 [00:00<?, ?it/s]

Loading: /Users/tucker/DDataVizFinal/RawData/achievements_ps.csv

Loading CSVs:  10%|█         | 1/10 [00:04<00:43,  4.85s/it]

Loading: /Users/tucker/DDataVizFinal/RawData/games_steam.csv
Loading: /Users/tucker/DDataVizFinal/RawData/players_ps.csv

Loading CSVs:  30%|███       | 3/10 [00:05<00:11,  1.68s/it]

Loading: /Users/tucker/DDataVizFinal/RawData/purchased_games_steam.csv
Loading: /Users/tucker/DDataVizFinal/RawData/players_steam.csv

Loading CSVs:  50%|█████     | 5/10 [00:07<00:06,  1.29s/it]

Loading: /Users/tucker/DDataVizFinal/RawData/purchased_games_ps.csv
Loading: /Users/tucker/DDataVizFinal/RawData/history_steam.csv

Loading CSVs:  70%|███████   | 7/10 [00:26<00:14,  4.67s/it]

Loading: /Users/tucker/DDataVizFinal/RawData/games_ps.csv
Loading: /Users/tucker/DDataVizFinal/RawData/achievements_steam.csv

Loading CSVs:  90%|█████████ | 9/10 [00:32<00:04,  4.01s/it]

Loading: /Users/tucker/DDataVizFinal/RawData/history_ps.csv

Loading CSVs: 100%|██████████| 10/10 [01:04<00:00,  6.47s/it]

In [3]:
#Exploding the libraries
purchased_df['library']=purchased_df['library'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
purchased_df=purchased_df.explode('library').reset_index(drop=True)
purchased_df=purchased_df.rename(columns={'library': 'gameid'})
purchased_df.head()

            playerid gameid platform
0  76561198060698936     60    steam
1  76561198060698936   1670    steam
2  76561198060698936   3830    steam
3  76561198060698936   1600    steam
4  76561198060698936   2900    steam

In [4]:
history_df.columns = history_df.columns.str.strip()
history_df['date_acquired']=pd.to_datetime(history_df['date_acquired'])
most_recent_date=history_df['date_acquired'].max()
a_year_ago=most_recent_date-pd.Timedelta(days=365)

recent_history_df=history_df[history_df['date_acquired']>=a_year_ago]
history_df=recent_history_df.sort_values(by='date_acquired',ascending=False).reset_index(drop=True)

print(history_df.head(10))

   playerid   achievementid       date_acquired platform
0   1680436  755124_6148418 2024-12-29 04:54:45       ps
1   1291609  583652_4838391 2024-12-28 20:51:46       ps
2   1291609  583652_4838388 2024-12-28 20:51:45       ps
3   1291609  706747_5685944 2024-12-28 16:41:18       ps
4   1680436  655314_5348206 2024-12-28 08:37:23       ps
5    393284  648531_5297751 2024-12-28 05:57:44       ps
6   1152452  570737_4749466 2024-12-28 02:01:43       ps
7   1757677  137936_2181967 2024-12-28 02:01:33       ps
8   1757677  137936_2181960 2024-12-28 02:01:33       ps
9   1757677  137936_3459214 2024-12-28 01:43:34       ps

In [5]:
num_rows=history_df.shape[0]
print("Total rows:",num_rows)

Total rows: 2326079

## Cleaning NA's

### Drop Columns

In [6]:
print(list(games_df.columns))
print(list(players_df.columns))
print(list(achievements_df.columns))
print(list(purchased_df.columns))
print(list(history_df.columns))

['gameid', 'title', 'developers', 'publishers', 'genres', 'supported_languages', 'release_date', 'platform']
['playerid', 'nickname', 'country', 'platform', 'created']
['achievementid', 'gameid', 'title', 'description', 'rarity', 'platform']
['playerid', 'gameid', 'platform']
['playerid', 'achievementid', 'date_acquired', 'platform']

In [7]:
games_df=games_df.drop(columns=["developers","publishers","supported_languages"])
players_df=players_df.drop(columns=["nickname","created"])
achievements_df=achievements_df.drop(columns=["description","rarity"])

In [8]:
print(list(games_df.columns))
print(list(players_df.columns))
print(list(achievements_df.columns))
print(list(purchased_df.columns))
print(list(history_df.columns))

['gameid', 'title', 'genres', 'release_date', 'platform']
['playerid', 'country', 'platform']
['achievementid', 'gameid', 'title', 'platform']
['playerid', 'gameid', 'platform']
['playerid', 'achievementid', 'date_acquired', 'platform']

In [9]:
print(len(games_df), "games records before cleaning.")
print(len(players_df), "players records before cleaning.")
print(len(achievements_df), "achievements records before cleaning.")
print(len(purchased_df), "purchased records before cleaning.")
print(len(history_df), "history records before cleaning.")

121399 games records before cleaning.
781283 players records before cleaning.
2785590 achievements records before cleaning.
22207874 purchased records before cleaning.
2326079 history records before cleaning.

### Checking Number of NA's

In [10]:
print("Missing values before cleaning:")
print(games_df.isna().sum())

Missing values before cleaning:
gameid             0
title              3
genres          5691
release_date       0
platform           0
dtype: int64

In [11]:
print("Missing values before cleaning:")
print(players_df.isna().sum())

Missing values before cleaning:
playerid         0
country     177868
platform         0
dtype: int64

In [12]:
print("Missing values before cleaning:")
print(achievements_df.isna().sum())

Missing values before cleaning:
achievementid       0
gameid              0
title            4475
platform            0
dtype: int64

In [13]:
print("Missing values before cleaning:")
print(purchased_df.isna().sum())

Missing values before cleaning:
playerid        0
gameid      55607
platform        0
dtype: int64

In [14]:
print("Missing values before cleaning:")
print(history_df.isna().sum())

Missing values before cleaning:
playerid         0
achievementid    0
date_acquired    0
platform         0
dtype: int64

### Dropping NA's

In [15]:
games_df=games_df.dropna()
players_df=players_df.dropna()
achievements_df=achievements_df.dropna()
purchased_df=purchased_df.dropna()
history_df=history_df.dropna()
print("NAs dropped from all tables.")

NAs dropped from all tables.

In [16]:
print(len(games_df), "games records after cleaning.")
print(len(players_df), "players records after cleaning.")
print(len(achievements_df), "achievements records after cleaning.")
print(len(purchased_df), "purchased records after cleaning.")
print(len(history_df), "history records after cleaning.")

115707 games records after cleaning.
603415 players records after cleaning.
2781115 achievements records after cleaning.
22152267 purchased records after cleaning.
2326079 history records after cleaning.

## Merging Tables

In [17]:
#Merge 1
player_purchase=purchased_df.merge(
    players_df,on=["playerid","platform"],how="left")
player_purchase.head()

            playerid gameid platform             country
0  76561198060698936     60    steam  Russian Federation
1  76561198060698936   1670    steam  Russian Federation
2  76561198060698936   3830    steam  Russian Federation
3  76561198060698936   1600    steam  Russian Federation
4  76561198060698936   2900    steam  Russian Federation

In [18]:
#Merge 2
achievement_history=achievements_df.merge(
    history_df,on=["achievementid","platform"],how="left")
achievement_history.head()

,achievementid,gameid,title,platform,playerid,date_acquired
0,749980_6103480,749980,Platinum Cup,ps,NaN,NaT
1,749980_6103481,749980,Arcade Beginner,ps,NaN,NaT
2,749980_6103482,749980,Arcade Beginner Dirt,ps,NaN,NaT
3,749980_6103483,749980,Arcade Intermediate,ps,NaN,NaT
4,749980_6103484,749980,Arcade Advanced,ps,NaN,NaT

In [19]:
#Dropping NA's
print(len(achievement_history), "achievement records before cleaning.")
achievement_history=achievement_history.dropna()
print(len(achievement_history), "achievement records after cleaning.")

4485490 achievement records before cleaning.
2326079 achievement records after cleaning.

In [20]:
#Merge 3
game_info=achievement_history.merge(
    games_df,on=["gameid","platform"],how="left")

game_info['title']=game_info['title_y'].combine_first(game_info['title_x'])
game_info=game_info.drop(columns=['title_x', 'title_y'])

game_info.head()

,achievementid,gameid,platform,playerid,date_acquired,genres,release_date,title
0,749909_6103322,749909,ps,4482527.0,2024-11-30 07:09:59,NaN,NaN,The Music Enjoyer 1
1,749909_6103322,749909,ps,312151.0,2024-11-24 06:47:45,NaN,NaN,The Music Enjoyer 1
2,749909_6103323,749909,ps,312151.0,2024-12-13 03:39:07,NaN,NaN,The Music Enjoyer 2
3,749909_6103323,749909,ps,4482527.0,2024-11-30 07:54:12,NaN,NaN,The Music Enjoyer 2
4,749909_6103324,749909,ps,4482527.0,2024-12-01 08:10:42,NaN,NaN,The Music Enjoyer 3

In [21]:
#Dropping NA's
print(len(game_info), "game records before cleaning.")
game_info=game_info.dropna()
print(len(game_info), "game records after cleaning.")

2326079 game records before cleaning.
2090962 game records after cleaning.

In [22]:
#Adjusting to have only the dates and not the times
game_info['date_acquired']=pd.to_datetime(game_info['date_acquired'])
game_info['date_acquired']=game_info['date_acquired'].dt.strftime('%m-%d-%Y')
game_info=game_info.drop(columns=['release_date'])
game_info.rename(columns={"date_acquired": "date"},inplace=True)

In [23]:
#Final Merge
master_df = game_info.merge(
    player_purchase,
    on=["playerid", "gameid", "platform"],
    how="left"
)

print("All tables are merged into master_df")

All tables are merged into master_df

In [24]:
#Dropping NA's
print(len(master_df), "records before cleaning.")
master_df=master_df.dropna()
master_df=master_df.drop_duplicates()
print(len(master_df), "records after cleaning.")

2091053 records before cleaning.
1908295 records after cleaning.

In [25]:
master_df.head()

,achievementid,gameid,platform,playerid,date,genres,title,country
0,749388_6098572,749388,ps,2161059.0,11-27-2024,['Platformer'],Hop Up,Germany
1,749388_6098573,749388,ps,2161059.0,11-27-2024,['Platformer'],Hop Up,Germany
2,749388_6098574,749388,ps,2161059.0,11-27-2024,['Platformer'],Hop Up,Germany
3,749388_6098575,749388,ps,2161059.0,11-27-2024,['Platformer'],Hop Up,Germany
4,749388_6098576,749388,ps,2161059.0,11-27-2024,['Platformer'],Hop Up,Germany

In [26]:
geolocator=Nominatim(user_agent="geoapi_precompute")

# Get unique countries
unique_countries=master_df['country'].dropna().unique()

coords={}

print(f"Processing {len(unique_countries)} countries...\n")

for country in unique_countries:
    try:
        location=geolocator.geocode(country)
        if location:
            coords[country]={
                "latitude": location.latitude,
                "longitude": location.longitude
            }
            print(f"{country}: {location.latitude:.4f}, {location.longitude:.4f}")
        else:
            print(f"✖ No coordinates found for {country}")
        time.sleep(1)  # Stay below Nominatim rate limit
    except Exception as e:
        print(f"Error for {country}: {e}")

# Map coordinates back to dataframe
master_df["latitude"]=master_df["country"].map(lambda x: coords.get(x, {}).get("latitude"))
master_df["longitude"]=master_df["country"].map(lambda x: coords.get(x, {}).get("longitude"))

Processing 170 countries...

Germany: 51.1638, 10.4478
Canada: 61.0667, -107.9917
United States: 39.7837, -100.4459
Japan: 36.5748, 139.2394
Austria: 47.5940, 14.1246
Czechia: 49.7439, 15.3381
Poland: 52.2159, 19.1344
Hong Kong: 22.3506, 114.1849
Finland: 63.2468, 25.9209
Netherlands: 52.2435, 5.6343
France: 46.6034, 1.8883
Belgium: 50.6403, 4.6667
Italy: 42.6384, 12.6743
United Kingdom: 54.7024, -3.2766
Russian Federation: 64.6863, 97.7453
Spain: 39.3261, -4.8380
Mexico: 23.6585, -102.0077
Brazil: -10.3333, -53.2000
Portugal: 39.6622, -8.1354
Argentina: -34.9965, -64.9673
Saudi Arabia: 25.6243, 42.3528
Ireland: 52.8652, -7.9795
Switzerland: 46.7986, 8.2320
Indonesia: -2.4834, 117.8903
Australia: -24.7761, 134.7550
Greece: 38.9954, 21.9877
✖ No coordinates found for Taiwan, Province of China
New Zealand: -41.5001, 172.8344
Hungary: 47.1818, 19.5061
Sweden: 59.6750, 14.5209
Romania: 45.9852, 24.6859
Thailand: 14.8972, 100.8327
Chile: -31.7613, -71.3188
Israel: 30.8124, 34.8595
South Africa: -28.8166, 24.9916
United Arab Emirates: 24.0002, 53.9995
Norway: 61.1529, 8.7877
Korea, Republic of: 1.2640, 103.8202
Costa Rica: 10.2736, -84.0739
Iceland: 64.9842, -18.1059
Türkiye: 39.2941, 35.2317
Panama: 8.5596, -81.1308
Denmark: 55.6702, 10.3333
Bulgaria: 42.6074, 25.4857
India: 22.3511, 78.6677
Malta: 35.8886, 14.4477
Singapore: 1.3571, 103.8195
Peru: -6.8700, -75.0459
Ukraine: 49.4872, 31.2718
Colombia: 4.0999, -72.9088
Croatia: 45.3658, 15.6575
Uruguay: -32.8756, -56.0202
Honduras: 15.2572, -86.0755
Bolivia, Plurinational State of: -17.0569, -64.9912
Qatar: 25.3337, 51.2295
Ecuador: -1.3398, -79.3667
Malaysia: 4.5694, 102.2657
El Salvador: 13.8000, -88.9141
China: 35.0001, 104.9999
Guatemala: 15.5856, -90.3458
Kuwait: 29.2734, 47.4979
Bahrain: 26.1551, 50.5345
Paraguay: -23.3166, -58.1693
Nicaragua: 12.3506, -85.7841
Slovenia: 46.1199, 14.8153
Northern Mariana Islands: 15.1754, 145.7379
Lithuania: 55.3500, 23.7500
Chad: 15.6134, 19.0156
Luxembourg: 49.8159, 6.1297
Central African Republic: 7.0324, 19.9981
Turks and Caicos Islands: 21.7217, -71.5528
Afghanistan: 33.7680, 66.2385
Slovakia: 48.7412, 19.4529
Kazakhstan: 48.1013, 66.7781
Estonia: 58.7524, 25.3319
Azerbaijan: 40.3936, 47.7873
Iran, Islamic Republic of: 36.2619, 59.6053
Niger: 17.7356, 9.3238
Isle of Man: 54.1937, -4.5591
✖ No coordinates found for Congo, The Democratic Republic of the
Philippines: 12.7503, 122.7312
Antarctica: -72.8439, 0.0000
Christmas Island: -10.4838, 105.6472
Cocos (Keeling) Islands: -12.0728, 96.8409
Armenia: 40.7696, 44.6737
Suriname: 4.1413, -56.0771
Belarus: 53.4251, 27.6971
Serbia: 44.0243, 21.0766
Lesotho: -29.6039, 28.3350
Heard Island and McDonald Islands: -53.0166, 72.9558
Uzbekistan: 41.3237, 63.9528
✖ No coordinates found for Holy See (Vatican City State)
United States Minor Outlying Islands: 28.2361, -177.3686
Tunisia: 33.8439, 9.4001
Cyprus: 34.9174, 32.8899
Albania: 41.0000, 20.0000
Côte d'Ivoire: 7.9897, -5.5679
Jamaica: 18.1851, -77.3948
Nigeria: 9.6000, 8.0000
✖ No coordinates found for Korea, Democratic People's Republic of
Bosnia and Herzegovina: 44.3053, 17.5961
Tokelau: -9.1676, -171.8197
Solomon Islands: -8.7054, 159.1071
Rwanda: -1.9647, 30.0644
Niue: -19.0536, -169.8613
Nepal: 28.3780, 84.0000
Palestine, State of: 42.2089, -79.4686
South Georgia and the South Sandwich Islands: -54.8433, -35.8091
Maldives: 3.7204, 73.2244
Viet Nam: 15.9267, 107.9651
Uganda: 1.5334, 32.2167
Iraq: 33.0956, 44.1750
Venezuela, Bolivarian Republic of: 8.0019, -66.1109
Ghana: 8.0300, -1.0800
Angola: -11.8776, 17.5691
Cook Islands: -19.9970, -157.7859
Mongolia: 46.8250, 103.8500
Virgin Islands, U.S.: 17.7892, -64.7081
Zimbabwe: -18.4555, 29.7468
Puerto Rico: 18.2248, -66.4858
Congo: -2.9814, 23.8223
Réunion: -21.1309, 55.5266
Latvia: 56.8406, 24.7538
Curaçao: 12.1176, -68.9309
Burkina Faso: 12.0753, -1.6880
Egypt: 26.2540, 29.2675
Djibouti: 11.8146, 42.8453
Cuba: 23.0131, -80.8329
Lao People's Democratic Republic: 20.0171, 103.3783
Moldova, Republic of: 46.6745, 29.7522
Gibraltar: 36.1286, -5.3475
Liechtenstein: 47.1416, 9.5532
Guadeloupe: 16.2529, -61.5687
Tajikistan: 38.6282, 70.8157
Monaco: 43.7323, 7.4277
Eswatini: -26.5625, 31.3991
Jordan: 31.1667, 36.9416
Montenegro: 42.7756, 19.2022
Micronesia, Federated States of: 8.6062, 151.8327
Georgia: 32.3294, -83.1137
Faroe Islands: 62.1989, -6.8178
Macao: 22.1758, 113.5514
Western Sahara: 24.1797, -13.7668
American Samoa: -14.2971, -170.7131
San Marino: 43.9459, 12.4583
Myanmar: 17.1750, 96.0000
Bahamas: 24.7737, -78.0001
Pitcairn: -25.0658, -130.1018
Martinique: 14.6114, -60.9621
Somalia: 8.3677, 49.0834
Aruba: 12.5014, -69.9618
Bermuda: 32.3040, -64.7563
North Macedonia: 41.6171, 21.7168
Lebanon: 33.8751, 35.8434
Botswana: -23.1682, 24.5929
Algeria: 28.0000, 3.0000
Haiti: 19.1400, -72.3571
✖ No coordinates found for Sint Maarten (Dutch part)
Belize: 17.1205, -88.6859
Wallis and Futuna: -13.2894, -176.2042
Kenya: 1.4420, 38.4314
✖ No coordinates found for Saint Helena, Ascension and Tristan da Cunha
Mauritania: 20.2540, -9.2399
Oman: 21.0000, 57.0037
Pakistan: 30.3308, 71.2475
Cabo Verde: 16.0001, -24.0084
Sri Lanka: 7.5555, 80.7138
Norfolk Island: -29.0328, 167.9483
Mayotte: -12.8230, 45.1521
Greenland: 77.6192, -42.8126

In [27]:
master_df.head()

,achievementid,gameid,platform,playerid,date,genres,title,country,latitude,longitude
0,749388_6098572,749388,ps,2161059.0,11-27-2024,['Platformer'],Hop Up,Germany,51.163818,10.447831
1,749388_6098573,749388,ps,2161059.0,11-27-2024,['Platformer'],Hop Up,Germany,51.163818,10.447831
2,749388_6098574,749388,ps,2161059.0,11-27-2024,['Platformer'],Hop Up,Germany,51.163818,10.447831
3,749388_6098575,749388,ps,2161059.0,11-27-2024,['Platformer'],Hop Up,Germany,51.163818,10.447831
4,749388_6098576,749388,ps,2161059.0,11-27-2024,['Platformer'],Hop Up,Germany,51.163818,10.447831

In [28]:
master_df.columns=master_df.columns.str.strip()  # strip extra spaces
master_df['date']=pd.to_datetime(master_df['date'],errors='coerce')

master_df.to_csv("~/DDataVizFinal/CreatedData/test_data.csv",index=False)

## Plot Specific dataframes

### World Map

In [31]:
# ---------------------
# Get top 10 games per country (keys only)
# ---------------------
country_game_counts=master_df.groupby(['country','title']).agg(
    total_players=('playerid','nunique')
).reset_index()

top20_keys=(
    country_game_counts
    .sort_values(['country','total_players'],ascending=[True,False])
    .groupby('country')
    .head(20)[['country','title']]
)

# Merge back to get full data for top 20 games per country
world_map_data=pd.merge(master_df,top20_keys,on=['country','title'],how='inner')

print(len(master_df),"Master File Datapoints.")
print(len(world_map_data),"World Map Datapoints.")

1908295 Master File Datapoints.
231538 World Map Datapoints.

In [32]:
world_map_data['date']=pd.to_datetime(world_map_data['date'],errors='coerce')
world_map_data.to_csv("~/DDataVizFinal/CreatedData/world_map_data.csv",index=False)